<footer>
    <div id="footer-flex">
        <div id="owner-details">
            <i class="far fa-copyright"></i>
            <span>Powered by Naman Tyagi.</span>
            <span>All Rights Reserved</span>
        </div>
        <div id ="other-link">
            <a href="/">Home</a>
            <a href="/users/profile/<%=u._id %>">Profile</a>
        </div>
    </div>
</footer>