<header>
    <div id ="flexible">
        <div id="website-name">
            Codial
        </div>
        <div id="nav-option">
            <% if(locals.user) { %>
                <a href='/users/profile/<%=user._id %>'><%= user.name %> </a>
                <a href='/users/sign-out'>Sign Out</a>
            <% } else { %>
                <a href='/users/sign-in'>Sign In </a>
                <a href='/users/sign-up'>Sign Up</a>
            <% } %>
        </div>
    </div>     
</header>