<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <!-- section corresponding to posts -->
    <section id="feed-posts">
        <!-- if the user is signed in, then only show the form -->
        <% if(locals.user) { %>
            <h2>Posts</h2>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content"  cols="30" rows="3" placeholder="Type here..." required></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
            
        <!-- display all posts -->
        <div id="posts-list-container">
            <h2> All Posts</h2>
            <ul>
                <% for(post of allposts) { %>
                    <%- include('_post.ejs'); %>
                <% } %>
            </ul>
        </div>
    </section>
            
            
    <!-- section to show user friends  -->
    <section id="user-friends">
        <h4>Friends</h4>
        <%  for(user of all_users) { %>
            <p>
                <a href="/users/profile/?id=<%= user.id %>"><%= user.name %></a>
            </p>
        <% } %>
    </section>
</div>
<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>           
<script src="/js/toggle_likes.js"></script>
<!-- on each toggle like button,add the class Togglelike which is present in toggle_like.js -->
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        new ToggleLike(self);
    });
</script>