<link rel="stylesheet" href="/css/home.css">
<h1> Codial Home Page  </h1>

<!-- section corresponding to posts -->
<section id="feed-posts">
    <h2>Posts</h2>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content"  cols="30" rows="3" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>

<!-- section that includes all post of user -->
<section id = "show-posts">
    <h2> All Posts</h2>
    <ul id ="post-content">
     <% for(let post of allposts) { %>
        <li>
              <p> <%= post.content %> </p>
              <p> <%= post.user.name %> </p>
        </li>
     <% } %>
    </ul>
</section>