#footer-flex{
    display: flex;
    justify-content: start;
    background-color: grey;
    padding: 10px;
    #owner-details{
        color:white;
        font-size: 1.2rem;
    }
    #other-link a{
        color:white;
        display: block;
        text-decoration: none;
        font-size: 1.2rem;
        margin-left:20px;

    }

}