#flexible{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    
    #website-name{
        color:cornsilk;
        margin: 20px 10px;
        font-size: 1.5rem;
        font-weight: 700;
    }
    #nav-option a{
        display: inline-block;
        margin:20px 10px;
        color :cornsilk;
        font-size: 1.2rem;
        text-decoration: none;
    }
    
}