#home-container{
    display: flex;
    height:100%;
    #feed-posts{
        width:80%;
        padding:10px;
    }
    #friends-and-all-users{
        width : 20%;
        padding: 10px;
        border-left: 2px solid lightgrey;
    }
}